# CODEOWNERS for .project metadata repository
# Changes to project metadata require maintainer review.
* @demirkayaender @dkrotx @abhishekj720 @adhityamamallan @ribaraka @Assem-Hafez @bowenxia @c-warren @zawadzkidiana @YaweiZhang-930 @eleonoradgr @fimanishi @gazi-yestemirova @jakobht @Bueller87 @natemort @neil-xie @shijiesheng @macrotim @timl3136 @arzonus @Shaddoll 
